.flash-message {
  line-height: 2;
}

.photo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#avatar {
  list-style-type: none;
}

/* --- Masonry grid classes .grid-item --- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding-bottom: 24px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* --- tablet media queries --- */
@media screen and (max-width: 768px) {
  .grid-sizer,
  .grid-item {
  width: 50%;
  }

  #photo-container {
    width:95%!important;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1px;
    padding-right: 1px;
  }
}

/* --- small device media queries --- */
@media screen and (max-width: 575px) {
  .grid-sizer,
  .grid-item {
  width: 100%;
  }

  #photo-container {
    width:95%!important;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1px;
    padding-right: 1px;
  }
}

/* --- Very large resolution media queries --- */

@media screen and (min-width: 1080px, max-width: 2160px) {
  .grid-sizer,
  .grid-item {
  width: 100%;
  }

  #photo-container {
    width:100%!important;
  }
}