{% extends "base.html" %}
{% block content %}
<div class="container-lg">
  <div class="row">
    <form method="POST">
      <!-- Photo title input -->
      <div class="form-outline mb-4">
        <input type="text" id="title" name="title" class="form-control" 
        pattern="^[a-zA-Z0-9]{4,20}$" required />
        <label class="form-label" for="title">Photo Title</label>
      </div>
      <!-- Photo title input -->
      <div class="form-outline mb-4">
        <textarea rows="4" id="description" name="description" class="form-control" 
        pattern="^[a-zA-Z0-9]{4,120}$" required></textarea>
        <label class="form-label" for="description">Photo Description</label>
      </div>
        <!-- Section title -->
      <div class="form-outline mb-4">
        <p>Select Photo Category</p>
        <section class="border p-4 mb-4 d-flex justify-content-left">
            <select class="select" required>
              <option value="" disabled selected>Choose Photo Category</option>
            {% for category in categories %}
              <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            {% endfor %}
            </select>
            <!--<label class="form-label select-label"> category.description </label>-->
        </section>
      </div>
      <!-- Photo picker input-->
      <div class="form-outline mb-4">
        Select Photo File:<br />
        <input id="media" type="file" />
        <br />
      </div>
    <input type="submit" name="" class="btn btn-primary mb-4" value="Upload Photo" /><br />
</form>

<script>
  document.querySelector("form").addEventListener("submit", (event) => {
    event.preventDefault();
    const fileInput = document.querySelector("#media");
    const formData = new FormData();

    formData.append("file", fileInput.files[0]);
    
    const options = {
          method: "POST",
          body: formData,
        };

    fetch("http://192.168.0.230:5000/upload", options)
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.log(error);
      });
  });
</script>

{% endblock %}