{% extends "base.html" %}
{% block content %}
<h3 class="text-center">Log in to your account</h3>
<div class="container-lg">
  <div class="row">
  <form method="POST" action="{{ url_for('login') }}">
    <!-- Username input -->
    <div class="form-outline mb-4">
      <input type="text" id="username" name="username" class="form-control" 
      pattern="^[a-zA-Z0-9]{4,20}$" />
      <label class="form-label" for="username">Username</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="pass1" name="pass1" class="form-control" 
      pattern="^[a-zA-Z0-9]{6,20}$" />
      <label class="form-label" for="pass1">Password</label>
    </div>
    <!-- Confirm password input -->
    <div class="form-outline mb-4">
      <input type="password" id="pass2" name="pass2" class="form-control" 
      pattern="^[a-zA-Z0-9]{6,20}$" />
      <label class="form-label" for="pass2">Confirm Password</label>
    </div>
    <!-- Submit button -->
    <div class="row">
      <div class="form-outline col-4 col-md-4">
        <button type="submit" class="btn btn-primary btn-block mb-4">Log In</button>
      </div>
    </div>
  </form>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center">
        Need to create an account?
        <a href="{{ url_for('register') }}">Create Account</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}