{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <h3 class="border-bottom">Editing: {{ photo.title }}</h3>
  <div class="card">
    <img src="{{ photo.url }}" class="card-img-top" alt="..." />
    <form action="" method="POST">
      <fieldset class="form-group">
        <legend>{{ legend }}</legend>
        <div class="form-group mb4">
          {{ form.title.label(class_="form-control-label") }}
          {% if form.title.errors %}
            {{ form.title(class_="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.title(class_="form-control") }}
          {% endif %}
        </div>
        <div class="form-group mb4">
          {{ form.description.label(class_="form-control-label") }}
          {% if form.description.errors %}
            {{ form.description(class_="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.description(class_="form-control") }}
          {% endif %}
        </div>
        <!-- Temporarily remove category selection from edit form -->
        <!--<div class="form-group mb4">
          {{ form.category.label(class_="form-control-label") }}
          {% if form.category.errors %}
            {{ form.category(class_="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.category.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.category(class_="form-control") }}
          {% endif %}
        </div>-->
      </fieldset>
    </form>
    <br />
    <div class="form-group">
      <a href="" class="btn btn-primary mb-4">Save Changes</a>
      <button class="btn btn-primary mb-4" onclick="goBack()">Go Back</button>
    </div>
  </div>
</div>

<!-- Enables user to return to previous page -->
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}