{% extends "base.html" %}
{% block content %}
<div class="row text-center">
  <h3>Out of Office</h3>
  <p>Check out all of the great holiday photos below!  Be sure to leave a "like" and comment on the photos you like most!</p>
<br />
</div>
<div class="container-lg">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for photo in photos %}
    <div class="col">
      <div class="card">
        <a href="{{ url_for('photos.photo_feed', photo=photo._id) }}">
          <img src="{{ photo.url }}" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ photo.title }}</h5>
          <small><em>Uploaded by: {{ photo.user_uploaded_by }}</em></small>
          <p class="card-text">
            {{ photo.description }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}