{% extends "base.html" %}
{% block content %}
<h3 class="text-center">{{ photo.title }}</h3>
<div class="container-lg">
  <div class="row row-cols-1">
    <div class="col">
      <div class="card">
        <img src="{{ photo.url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          {% if current_user.username == photo.user_uploaded_by %}
            <form method="POST" action="{{ url_for('photos.edit_photo', id=photo.id)}}">
              <button type="submit" class="btn btn-primary btn-sm m-1">
                Edit Photo Details
              </button>
              <br />
            </form>
            <button 
                  type="button" 
                  class="btn btn-danger btn-sm m-1"
                  data-mdb-toggle="modal"
                  data-mdb-target="#deletePhotoModal"
                >
                  Delete Photo
                </button>
                <!-- Modal for delete button -->
                <div
                  class="modal fade"
                  id="deletePhotoModal"
                  tabindex="-1"
                  aria-labelledby="deletePhotoModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deletePhotoModalLabel">
                          Delete Photo?
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-mdb-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your photo? It will be gone forever!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                          Cancel
                        </button>
                        <form method="POST" action="{{ url_for('photos.delete_photo', id=photo.id) }}">
                          <input class="btn btn-danger" type="submit" value="Delete Photo">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
          {% endif %}
          <small><em>Uploaded by {{ photo.user_uploaded_by }} on {{ photo.user_added_datetime.date() }}</em></small>
          <p class="card-text">{{ photo.description }}</p>
          <form method="POST" action="{{ url_for('photos.like_photo', id=photo.id)}}">
            <i class="fas fa-thumbs-up"></i> {{ photo.likes }}
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="fas fa-thumbs-up"></i>
            </button>
            <br />
          </form>
          <br />
          <form method="POST" action="{{ url_for('photos.add_comment', id=photo.id)}}">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">Add a comment</legend>
              <div class="form-group mb-4">
              {{ form.comment_text.label(class_="form-control-label") }}<br>
              {{ form.comment_text(class_="form-control", placeholder="Add a comment!") }}
              {% for error in form.comment_text.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
              <br />
              {{ form.submit(class_="btn btn-primary mb-4")}}
          </form>
          {% if comments %}
          <h4>Comments:</h4>
          {% endif %}
            {% for comment in comments %}
              <div class="card w75">
                <div class="card-body">
                  <h5 class="card-title">{{ comment.user_comment_by.username }} says:</h5>
                  <form method="POST" action="{{ url_for('photos.like_comment', id=comment.id) }}">
                    <small>
                      <i class="fas fa-thumbs-up"></i> {{ comment.likes }}
                      <button type="submit" class="btn btn-primary btn-sm" name="liked">
                        <i class="fas fa-thumbs-up"></i>
                      </button>
                    </small>
                    <br />
                  </form>
                </div>
                <p class="card-text">{{ comment.comment_text }}</p>
                <div class="card-footer text-muted"><em>Comment added on: {{ comment.user_comment_datetime.date() }}</em></div>
                {% if comment.user_comment_by == current_user %}
                <div class="card-body">
                <!-- MDB Pop-Up Modal Layout below -->
                <!-- Edit comment button -->
                <button 
                  type="button" 
                  class="btn btn-secondary btn-sm m-1"
                  data-mdb-toggle="modal"
                  data-mdb-target="#editCommentModal"
                >
                  Edit Comment
                </button>
                <!-- Modal for edit comment button -->
                <div
                  class="modal fade"
                  id="editCommentModal"
                  tabindex="-1"
                  aria-labelledby="editCommentModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editCommentModalLabel">
                          Edit comment?
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-mdb-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{{ url_for('photos.edit_comment', id=comment.id) }}">
                          {{ form.comment_text.process_data(value=comment.comment_text) }}
                          {{ form.comment_text.label(class_="form-control-label") }}
                          {{ form.comment_text(class_="form-control") }}
                          {{ form.submit(class_="btn btn-primary", value="Save Changes") }}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- MDB Pop-Up Modal Layout below -->
                <!-- Delete button -->
                <button 
                  type="button" 
                  class="btn btn-danger btn-sm m-1"
                  data-mdb-toggle="modal"
                  data-mdb-target="#deleteModal"
                >
                  Delete Comment
                </button>
                <!-- Modal for delete button -->
                <div
                  class="modal fade"
                  id="deleteModal"
                  tabindex="-1"
                  aria-labelledby="deleteModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">
                          Delete comment?
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-mdb-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your comment? It will be gone forever!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                          Cancel
                        </button>
                        <form method="POST" action="{{ url_for('photos.delete_comment', id=comment.id) }}">
                          <input class="btn btn-danger" type="submit" value="Delete Comment">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                {% endif %}
              </div>
            {% endfor %}
          <div class="card-footer">
            <button class="btn btn-primary mb-4" onclick="goBack()">Go Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Returns user to previous page -->
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}