{% extends "base.html" %}
{% block content %}
<div class="container-lg">
  <div class="row row-cols-1 justify-content-center">
    <div class="col w-75" id="photo-container">
      <div class="card border shadow text-center my-4">
        <h3 class="text-center mt-3 mb-2">{{ photo.title }}</h3>
        <p class="text-center"><em>By {{ photo.user_uploaded_by|capitalize }}</em></p>
      </div>
      <div class="card rounded-5">
        <img src="{{ photo.url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="d-grid gap-2 d-md-block">
          {% if current_user.username == photo.user_uploaded_by %}
            <form method="POST" action="{{ url_for('photos.edit_photo', id=photo.id)}}">
              <button type="submit" class="btn btn-primary btn-sm m-1">
                Edit Photo Details
              </button>
              <br />
              <button 
              type="button" 
              class="btn btn-danger btn-sm m-1"
              data-mdb-toggle="modal"
              data-mdb-target="#deletePhotoModal"
            >
              Delete Photo
            </button>
            </form>
                <!-- Modal for delete button -->
                <div
                  class="modal fade"
                  id="deletePhotoModal"
                  tabindex="-1"
                  aria-labelledby="deletePhotoModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deletePhotoModalLabel">
                          Delete Photo?
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-mdb-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your photo? It will be gone forever!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                          Cancel
                        </button>
                        <form method="POST" action="{{ url_for('photos.delete_photo', id=photo.id) }}">
                          <input class="btn btn-danger" type="submit" value="Delete Photo">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          {% endif %}
          <small><em>Uploaded on {{ photo.user_added_datetime.date() }}</em></small>
          <p class="card-text">{{ photo.description }}</p>
          <form method="POST" action="{{ url_for('photos.add_comment', id=photo.id)}}">
            {{ form.hidden_tag() }}
            <legend class="border-bottom my-3">Add a comment</legend>
              <div class="form-group">
              {{ form.comment_text.label(class_="form-control-label") }}<br>
              {{ form.comment_text(class_="form-control", placeholder="Add a comment!") }}
                {% for error in form.comment_text.errors %}
                  <span style="color: red;">{{ error }}</span>
                {% endfor %}
              {{ form.submit(class_="btn btn-primary my-3")}}
          </form>
          {% if comments %}
          <h4>Comments:</h4>
          {% endif %}
            {% for comment in comments %}
              <div class="card w75 rounded-10 bg-light border" style="margin-bottom: 15px;">
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="me-2" style="color: {{ comment.user_comment_by.avatar }}">
                      <i class="fas fa-user-circle"></i>
                    </span>
                    {{ comment.user_comment_by.username|capitalize }}
                  </h5>
                </div>
                <p class="card-text ms-3">{{ comment.comment_text }}</p>
                <div class="card-footer text-muted">
                  <em>Comment added {{ comment.user_comment_datetime.date() }}</em>
                  <form method="POST" action="{{ url_for('photos.like_photo', id=photo.id)}}">
                    <i class="fas fa-thumbs-up"></i> {{ photo.likes }}
                    {% if current_user in photo.liked_by_user %}
                      <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-thumbs-up"></i>
                      </button>
                    {% else %}
                      <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-thumbs-up"></i>
                      </button>
                    {% endif %}
                    <br />
                  </form>
                </div>
                {% if comment.user_comment_by == current_user %}
                <div class="card-body">
                <!-- MDB Pop-Up Modal Layout below -->
                <!-- Edit comment button -->
                <button 
                  type="button" 
                  class="btn btn-secondary btn-sm m-1"
                  data-mdb-toggle="modal"
                  data-mdb-target="#editCommentModal"
                >
                  Edit Comment
                </button>
                <!-- Modal for edit comment button -->
                <div
                  class="modal fade"
                  id="editCommentModal"
                  tabindex="-1"
                  aria-labelledby="editCommentModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editCommentModalLabel">
                          Edit comment?
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-mdb-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{{ url_for('photos.edit_comment', id=comment.id) }}">
                          {{ form.comment_text.process_data(value=comment.comment_text) }}
                          {{ form.comment_text.label(class_="form-control-label") }}
                          {{ form.comment_text(class_="form-control") }}
                          {{ form.submit(class_="btn btn-primary", value="Save Changes") }}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- MDB Pop-Up Modal Layout below -->
                <!-- Delete button -->
                <button 
                  type="button" 
                  class="btn btn-danger btn-sm m-1"
                  data-mdb-toggle="modal"
                  data-mdb-target="#deleteModal"
                >
                  Delete Comment
                </button>
                <!-- Modal for delete button -->
                <div
                  class="modal fade"
                  id="deleteModal"
                  tabindex="-1"
                  aria-labelledby="deleteModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">
                          Delete comment?
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-mdb-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your comment? It will be gone forever!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                          Cancel
                        </button>
                        <form method="POST" action="{{ url_for('photos.delete_comment', id=comment.id) }}">
                          <input class="btn btn-danger" type="submit" value="Delete Comment">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                {% endif %}
              </div>
            {% endfor %}
            <!--
          <div class="card-footer">
            <button class="btn btn-primary mb-4" onclick="goBack()">Go Back</button>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Returns user to previous page
<script>
  function goBack() {
    window.history.back();
  }
</script> -->
{% endblock %}