{% extends "base.html" %}
{% block content %}
<h3 class="text-center">{{ photo.title }}</h3>
<div class="container-lg">
  <div class="row row-cols-1">
    <div class="col">
      <div class="card">
        <img src="{{ photo.url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <small><em>Uploaded by: {{ photo.user_uploaded_by }}</em></small>
          <p class="card-text">
            {{ photo.description }}
          </p>
          <p>
            Number of likes: {{ photo.likes }}
          </p>
          <form method="POST" action="{{ url_for('photos.like_photo', id=photo.id)}}">
            <button type="submit" class="btn btn-primary" name="liked">
              <i class="fas fa-thumbs-up"></i>
            </button>
            <br />
            <br />
          </form>
          <div>
            {% for comment in comments %}
            <div class="row">
              <strong>{{ comment.user_comment_by.username }} says:</strong>
              <p>{{ comment.comment_text }}</p>
            </div>
            {% endfor %}
          </div>
          <form method="POST" action="{{ url_for('photos.add_comment', id=photo.id)}}">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">Add a comment</legend>
              <div class="form-group mb-4">
              {{ form.comment_text.label(class_="form-control-label") }}<br>
              {{ form.comment_text(class_="form-control", placeholder="Add a comment!") }}
              {% for error in form.comment_text.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
              {{ form.submit(class_="btn btn-primary")}}
          </form>
          <a class="btn btn-primary" href="{{ url_for('main.profile', username=current_user.username) }}">Back</a>
            <!--<button class="btn btn-primary mb-4" onclick="goBack()">Go Back</button>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Returns user to previous page -->
<!-- Accounts for images able to be
   viewed from feed or profile page -->
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}