
{% extends "base.html" %}
{% block content %}
<div class="container-lg">
  <div class="row">
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('photos.upload_photo') }}">
      {{ form.hidden_tag() }}
      <!-- Photo title input -->
      <div class="form-outline mb-4">
        {{ form.title.label(class_="form-label") }}
        {{ form.title(size=32, class_="form-control") }}
        {% for error in form.title.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <!-- Photo title input -->
      <div class="form-outline mb-4">
        {{ form.description.label(class_="form-label") }}
        {{ form.description(size=32, class_="form-control") }}
        {% for error in form.description.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
        <!-- Section title -->
      <div class="form-outline mb-4">
        {{ form.category.label(class_="form-label") }}
        {{ form.category(size=32, class_="form-control") }}
        {% for error in form.description.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <!-- Photo picker input-->
      <div class="form-outline mb-4">
        Select Photo File:<br />
        <input id="media" type="file" name="file" />
        <br />
      </div>
      <div class="form-outline mb-4">
        {{ form.submit(class_="btn btn-primary mb-4") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}