{% extends "base.html" %}
{% block content %}
<div class="content-section m-2">
    <div class="row row-cols-1 justify-content-center">
        <div class="col w-50 m-3" id="edit-profile-card">
            <div class="card border shadow p-5">
                <form method="POST">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-2">
                            {{ legend }}
                        </legend>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.about_me.label(class_="form-control-label") }}
                            {{ form.about_me(class_="form-control", cols=50, rows=4) }}
                        </div>
                        {% if form.about_me.errors %}
                            <div class="invalid-feedback">                
                                {% for error in form.about_me.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.avatar.label(class_="form-control-label") }}
                            {% if current_user.avatar_num == "1" %}
                                {{ form.avatar(class_="form-control", default="1") }}
                            {% elif current_user.avatar_num == "2" %}
                                {{ form.avatar(class_="form-control", default="2") }}
                            {% elif current_user.avatar_num == "3" %}
                                {{ form.avatar(class_="form-control", default="3") }}
                            {% elif current_user.avatar_num == "4" %}
                                {{ form.avatar(class_="form-control", default="4") }}
                            {% else %}
                             <p>test</p>
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="{{ url_for('main.profile', username=current_user.username) }}" class="btn btn-md btn-light mb-2 me-2">Go Back</a>
                            {{ form.submit(class_="btn btn-primary mb-2") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}