{% extends "base.html" %}
{% block content %}
<div class="py-4 text-center">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
                <div class="card">
                    <div class="card-title">Welcome to Out of Office</div>
                    <div class="card-text">Out of Office is a mindset - the feeling you get from a well-deserved holiday!  Create a free account today to upload your favourite holiday photos to share with other like-minded travellers!</div>
                    <div class="card-footer">
                        <div class="ms-3 mb-3">
                            <a class="btn btn-primary m-1" href="{{ url_for('auth.login') }}">Log In</a>
                            <a class="btn btn-primary m-1" href="{{ url_for('auth.register') }}">Create Account</a>
                          </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}