{% extends "base.html" %}
{% block content %}
<div class="content-section mb-3">
    <div class="row row-cols-1 justify-content-center">
        <div class="col w-75 m-3">
            <div class="card border shadow p-5">
                <div class="card-title">
                    <h3>Welcome to Out of Office</h3>
                </div>
                <div class="card-text">
                    <p>"Out of Office" is a mindset - the feeling you get when you leave work for a well-deserved holiday!</p>
                    <p>Create a free account today to upload your favourite holiday photos to share with other like-minded
                        travellers!</p>
                </div>
                <div class="card-footer text-center">
                    <div class="my-3">
                        <a class="btn btn-primary m-1" href="{{ url_for('auth.login') }}">Log In</a>
                        <a class="btn btn-primary m-1" href="{{ url_for('auth.register') }}">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}