{% extends "base.html" %}
{% block content %}
<div class="content-section mb-3">
    <div class="row row-cols-1 justify-content-center">
        <div class="col w-75 m-3" id="index-card">
            <div class="card border shadow p-5">
                <div class="card-title">
                    <h3>Welcome to Out of Office <i class="fas fa-umbrella-beach"></i></h3>
                </div>
                <div class="card-text">
                    <p>"Out of Office" is a mindset many can relate to - the feeling you get when you leave work for a
                        well-deserved holiday!</p>
                    <p>Our platform aims to provide you with the best place to share and discover photos of holiday
                        destinations around the world.</p>
                    <p>Create a free account today to start sharing your favourite holiday photos with other like-minded
                        travellers!</p>
                </div>
                <div class="card-footer text-center">
                    <div class="my-3">
                        <a class="btn btn-primary m-1" href="{{ url_for('auth.login') }}">Log In</a>
                        <a class="btn btn-primary m-1" href="{{ url_for('auth.register') }}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}