{% extends "base.html" %}
{% block content %}
<div class="container-lg">
  <div class="py-4 text-center">
    <h3>{{ user.username|capitalize }}'s Profile</h3>
    <p>E-Mail Address: {{ user.email }}</p>
    <p>About Me: {{ user.about_me }}</p>
    <p><a class="nav-link" href="{{ url_for('main.edit_profile', id=user.id) }}">Edit About Me</a></p>
    <hr>
    <h3 class="text-center">{{ user.username|capitalize }}'s Photos</h3>
    <p class="text-center">Below are all of the photos you have added to the platform!</p>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for photo in photos %}
      {% if photo.user_uploaded_by == user.username %}
        <div class="col">
          <div class="card">
            <a href="{{ url_for('photos.view_photo', id=photo.id )}}">
              <img src="{{ photo.url }}" class="card-img-top" alt="..." />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ photo.title }}</h5>
              <small><em>Uploaded by: {{ photo.user_uploaded_by }}</em></small>
              <p class="card-text">
                {{ photo.description }}
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}